"*":
  "atom-beautify":
    general:
      _analyticsUserId: "267d85bd-5dea-4758-aa4c-a5b168321d9e"
      analytics: false
      loggerLevel: "error"
    ruby:
      beautify_on_save: true
      indent_size: 2
      rubocop_path: "/home/gajewsky/.rvm/gems/ruby-2.3.1/wrappers/rubocop"
  core:
    disabledPackages: [
      "atom-beautify"
      "rubocop-auto-correct"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
  editor:
    fontSize: 11
    preferredLineLength: 99
    showInvisibles: true
  "exception-reporting":
    userId: "4596e72b-a12a-2e35-2c7e-700f6db3b7c6"
  "hit-stats":
    path: "/home/gajewsky/Documents/atom-hit-stats.csv"
  "linter-rubocop":
    command: "/home/gajewsky/.rvm/gems/ruby-2.3.1/wrappers/rubocop --config /home/gajewsky/Projects/rubocop.yml"
  "rubocop-auto-correct":
    autoRun: true
    rubocopCommandPath: "/home/gajewsky/.rvm/gems/ruby-2.3.1/wrappers/rubocop --config /home/gajewsky/Projects/rubocop.yml"
  welcome:
    showOnStartup: false
